body {font-family: 'Roboto', sans-serif; 
    color: #434455;
    background-color: #FFF;}
    a {text-decoration: none;}
    ul {list-style: none;}

    /* Header */
.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;} .studio-logo {color: #2E2F42;}

.navigation-link {color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;}
    .navigation-link:focus, .navigation-link:hover {color: #404BBF;}

.address {font-style: normal;}

.address-link {color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}
.address-link:hover, .address-link:focus {color: #404BBF;} 
    
    /* Hero section */
.hero-section {background-color: #2E2F42;}
.hero-title {color: #FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02emx;}

.hero-button {color: #FFF;
    background-color: #4D5AE5;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;}
.hero-button:hover, .hero-button:focus {background-color: #404BBF;}

/* Section 2 */
.features-title {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.text {color: var(--slate, #434455);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}

    /* Section 3 */
.team-section {background-color: #F4F4FD;}
.team-title {color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;}
.team-list {background-color: #FFFFFF;}
.name {color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;}

    /* Section 4 */
.portfolio {background-color: #FFFFFF;}
.portfolio-title {color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;}

.product-title {color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;}

    /* Footer */
.footer-section {background: #2E2F42;}
.footer-logo {color: #4d5ae5; 
    font-family: Raleway, sans-serif; font-size: 18px; 
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;} .footer-studio-logo {color: #f4f4fd;}
.footer-text {color: var(--cloud, #F4F4FD);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}
    